<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Items Management</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link th:href="@{'/assets/vendor/bootstrap/css/bootstrap.min.css'}" rel="stylesheet">
    <link th:href="@{'/assets/vendor/bootstrap-icons/bootstrap-icons.css'}" rel="stylesheet">
    <link th:href="@{'/assets/vendor/simple-datatables/style.css'}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link th:href="@{'/assets/css/style.css'}" rel="stylesheet">

    <!-- =======================================================
    * Template Name: NiceAdmin
    * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
    * Updated: Apr 20 2024 with Bootstrap v5.3.3
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

<div th:insert="~{user/fragment/header_footer :: navigation}"></div>

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Items</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a>Items Management</a></li>
                <li class="breadcrumb-item active">Items</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section Dashboard">
        <div class="col-lg-12">
            <div class="row">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Item List</h5>
                        <div th:if="${responseMessage != null && responseMessage.operationStatusEnum == T(com.itemManagement.enums.OperationStatusEnum).SUCCESS}">
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                <span th:text="${responseMessage.message}"></span>
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        </div>
                        <div th:if="${responseMessage != null && responseMessage.operationStatusEnum == T(com.itemManagement.enums.OperationStatusEnum).FAILED}">
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <span th:text="${responseMessage.message}"></span>
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        </div>
                        <br>
                        <form class="row g-3 needs-validation" id="searchForm" th:action="@{'/employee/management/items'}" method="get">
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Keyword</label>
                                <div class="col-sm-10">
                                    <input type="text"  class="form-control" name="keyword" id="keyword">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">From</label>
                                <div class="col-sm-10">
                                    <select class="form-select" aria-label="Field" name="field" id="field">
                                        <option value="name">Name</option>
                                        <option value="price">Price</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <button type="submit" class="btn btn-primary">Search</button>
                            </div>
                        </form>

                        <a th:href="@{'/employee/management/item/new'}" class="btn btn-primary">New Item</a>
                        <div th:if="${!#lists.isEmpty(pageItem.content)}">
                            <!-- Table with stripped rows -->
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Price(Rm)</th>
                                    <th scope="col">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="item, iterStat : ${pageItem.content}">
                                    <th scope="row" th:text="${iterStat.index + 1}">1</th>
                                    <td th:text="${item.name}"></td>
                                    <td th:text="${item.price}"></td>
                                    <td>
                                        <a class="btn btn-warning btn-sm" th:href="@{'/employee/management/item/edit/' + ${item.id}}">Edit</a>
                                        <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal" th:data-id="${item.id}">
                                            Delete
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>


                            <!-- Pagination with icons -->
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    <li class="page-item" th:classappend="${pageItem.hasPrevious()} ? '' : 'disabled'">
                                        <a class="page-link" th:href="@{'/employee/management/items?page=' + ${pageItem.number - 1} + '&keyword=' + ${keyword}   + '&field=' + ${field}}" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li class="page-item" th:each="pageNum : ${#numbers.sequence(0, pageItem.totalPages - 1)}"
                                        th:classappend="${pageNum == pageItem.number} ? 'active' : ''">
                                        <a class="page-link" th:href="@{'/employee/management/items?page=' + ${pageNum} + '&keyword=' + ${keyword}   + '&field=' + ${field}}" th:text="${pageNum + 1}">1</a>
                                    </li>
                                    <li class="page-item" th:classappend="${pageItem.hasNext()} ? '' : 'disabled'">
                                        <a class="page-link" th:href="@{'/employee/management/items?page=' + ${pageItem.number + 1} + '&keyword=' + ${keyword}   + '&field=' + ${field}}" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main><!-- End #main -->

<!-- Bootstrap Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirm Delete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <form id="deleteForm" method="post" th:action="@{'/employee/management/item/delete/'}">
                    <button type="submit" class="btn btn-danger">Yes, Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>


<div th:insert="~{user/fragment/header_footer :: footer}"></div>

<script>
document.addEventListener('DOMContentLoaded', function () {
    const deleteModal = document.getElementById('deleteModal');

    deleteModal.addEventListener('show.bs.modal', function (event) {
        // Button that triggered the modal
        const button = event.relatedTarget;

        // Get the ID from the button's data-id attribute
        const userId = button.getAttribute('data-id');

        // Update the form action with the specific ID
        const deleteForm = document.getElementById('deleteForm');
        deleteForm.action = `/employee/management/item/delete/${userId}`;
    });
});
</script>

</body>

</html>