<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Account Confirmation</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link th:href="@{'/assets/vendor/bootstrap/css/bootstrap.min.css'}" rel="stylesheet">
    <link th:href="@{'/assets/vendor/bootstrap-icons/bootstrap-icons.css'}" rel="stylesheet">
    <link th:href="@{'/assets/vendor/simple-datatables/style.css'}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link th:href="@{'/assets/css/style.css'}" rel="stylesheet">

    <!-- =======================================================
    * Template Name: NiceAdmin
    * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
    * Updated: Apr 20 2024 with Bootstrap v5.3.3
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body class="toggle-sidebar">

  <main>
    <div class="container">
      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-4">
                <a href="index.html" class="logo d-flex align-items-center w-auto">
                  <span class="d-none d-lg-block">Item Management</span>
                </a>
              </div><!-- End Logo -->
              <div class="card mb-3">
                <div class="card-body">

                    <div class="pt-4 pb-2">
                        <h5 class="card-title text-center pb-0 fs-4">Account Confirmation</h5>
                        <div th:if="${responseMessage != null && responseMessage.operationStatusEnum == T(com.itemManagement.enums.OperationStatusEnum).SUCCESS}">
                            <p class="text-center small">Your account has been successfully confirmed. You can now log in and start using our services.</p>
                        </div>
                        <div th:if="${responseMessage != null && responseMessage.operationStatusEnum == T(com.itemManagement.enums.OperationStatusEnum).FAILED}">
                            <p class="text-center small">Unfortunately, the link is unavailable or expired.</p>
                        </div>
                        <div th:if="${responseMessage == null}">
                            <p class="text-center small">Unfortunately, the link is unavailable or expired.</p>
                        </div>
                    </div>
                    <div class="col-12">
                        <a th:href="@{'/login'}" class="btn btn-primary w-100" >Login Here</a>
                    </div>
                </div>
              </div>

              <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
              </div>

            </div>
          </div>
        </div>

      </section>

    </div>
  </main><!-- End #main -->
  <div th:insert="~{public/fragment/header_footer :: footer}"></div>
</body>
</html>